/* Inicio Header */
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
    transition: all 150ms ease;

}
html{
    scroll-behavior: smooth;
}
body{
    background-color: linen;
    position: relative;
}
#place-fixer{
    width: 100%;
    height: 6.5em;
    background-color: transparent;
}

/* Final Header */

/* Inicio Input */
#input-area{
    display: flex;
    transition: height 300ms;
    height: 82vh;
    justify-content: center;
    flex-flow: wrap;
    align-content: center;
    align-items: center;
    margin-bottom: 40px;
}
#inputNumber, #base, #symmetry-fixer{    
    text-align: center;
    border: none;
    color: #909090;
    transition: all 250ms ease;
}
#base, #symmetry-fixer{
    text-align-last: center;
    background-color: #f0ecec;
    width: 11%;
    min-width: 60px;
}
#symmetry-fixer{
    margin: 0;
    opacity: 0;
}
#inputNumber{
    font-size: 7vw;
    max-width: 900px;    
    width: 35vw;
    min-width: 400px;
    background-color:#f0ecec;
    border-radius: 10px;
    color:#141414;
    z-index: 1;
    cursor: pointer;   
}

#base{
    height: 6vw;
    min-height: 70px;
    font-size: 1.6vw;
    appearance: none;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
}
input:focus, select:focus{
    outline-style: none;        
}
#inputNumber:focus{
    background-color: #E3E3E3;
}


/* Final input */




/*Inicio  Resultados*/
#results{    
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    margin: auto ;    
    justify-items: center;
    justify-content: center;
    opacity: 1;
    position: relative;
}
#content-areas{    
    border-radius: 1vw;
    margin: 10px 10px;
    width: 320px;
    max-width: 90%;
    height: 190px;     
    transition: all 100ms ease;
    transition-property: width;
}

.base-indicator{
    margin: 0px 0% 5px 10px;
    font-size: 14pt;
    width: 200px;
}

.divider{
    display: none;
    position: absolute;
    background-image: linear-gradient(to right, rgba(227,227,227,0), rgba(227,227,227,1) 95%);
    height: 60pt;
    width: 100pt;
    right: 6%;
    transform: translate(0, 30px);
    transition: display 150ms ease;

}
input.converted-number{
    width: calc(100% - 25px);
    background-color: #E3E3E3;
    color: #141414;
    border-radius: 4px;
    outline: none;
    border: none;
    padding: 15px 10px;    
    overflow: visible;
}
*::selection{
    background-color: #E3E3E3;
    color: #FB3640;
}
.converted-number{
    text-align: right;
    font-size: 60pt;
    line-height: 90%;
}
/* Final resultados */


